<table class="table">
   <p>
    <%= link_to "新着順", posts_path(latest: "true") %> |
    <%= link_to "古い順", posts_path(old: "true") %> |
    <%= link_to "いいねの多い順", posts_path %>
  </p>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td>
          <!--タイトル-->
          <%= link_to post.title, post_path(post) %>
        </td>
        <td>
          <!--説明文-->
          <%= post.body.truncate(5) %>
        </td>
        <td>
          <!--タグ-->
          <% post.tag_list.each do |tag| %>
            <span class="badge badge-primary">
              <!--tagを押すとtagがついた投稿を一覧で表示される-->
              #<%= link_to tag, posts_path(tag_name: tag), class: "text-white" %>
            </span>
          <% end %>
        </td>
        <!--いいね(このページではいいねは押せない-->
        <td>
          <!--ログインしているか確認-->
          <% if user_signed_in? %>
            <!--現在のユーザーが投稿にいいねをしているか確認-->
            <% if post.favorited_by?(current_user) %>
              <!--いいねしていた場合の表示-->
              <div class="text-danger favorite-btn">
                <i class="fas fa-heart"></i><%= post.favorites.count %>
              </div>
            <% else %>
              <!--いいねしていなかった場合の表示-->
              <div class="text-dark favorite-btn">
                <i class="far fa-heart"></i><%= post.favorites.count %>
              </div>
            <% end %>
          <% else %>
            <!--ログインしていなかった場合のいいね表示-->
            <div class="text-dark favorite-btn">
              <i class="far fa-heart"></i><%= post.favorites.count %>
            </div>
          <% end %>
        </td>
        <!--コメント数-->
        <td>
          コメント数：<%= post.post_comments.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>