<% posts.each do |post| %>
  <div class="text-hover">
    <%= link_to post_path(post) do %>
      <div class="index row border-bottom p-2 p-lg-5">
        <div class="col-6 col-lg-4">
          <p class="text-break">
            <!--タイトル-->
            <%= post.title %>
          </p>
        </div>
        <div class="col-6 col-lg-4">
          <p class="text-break">
            <!--説明文-->
            <%= post.body.truncate(30) %>
          </p>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-end">
          <div class="mr-1">
            <!--いいね(このページではいいねは押せない)-->
            <!--ログインしているか確認-->
            <% if user_signed_in? %>
              <!--現在のユーザーが投稿にいいねをしているか確認-->
              <% if post.favorited_by?(current_user) %>
                <!--いいねしていた場合の表示-->
                <p class="text-danger favorite-btn">
                  <i class="fas fa-heart"></i><%= post.favorites.count %>
                </p>
              <% else %>
                <!--いいねしていなかった場合の表示-->
                <p class="text-dark favorite-btn">
                  <i class="far fa-heart"></i><%= post.favorites.count %>
                </p>
              <% end %>
            <% else %>
              <!--ログインしていなかった場合のいいね表示-->
              <p class="text-dark favorite-btn">
                <i class="far fa-heart"></i><%= post.favorites.count %>
              </p>
            <% end %>
          </div>
          <p class="ml-2">
            <!--コメント数-->
            コメント数：<%= post.post_comments.count %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>