<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="title col-xs-12 p-2 rounded">
          <% if params[:tag_name] %>
            <h2 class="m-2">#<%= "#{params[:tag_name]}" %>一覧</h2>
          <% else %>
            <h2 class="m-2">投稿一覧</h2>
          <% end %>
        </div>
      </div>

      <!--並び替えリンク-->
      <p class="text-right my-4">
        <%= link_to "新着順", posts_path(latest: "true") %> |
        <%= link_to "古い順", posts_path(old: "true") %> |
        <%= link_to "いいねの多い順", posts_path %>
      </p>

      <div>
        <%= render "public/posts/index", posts: @posts %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>