<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 mx-auto">
      <!--タイトル-->
      <div class="row">
        <div class="title p-2 rounded">
          <% if params[:tag_name] %>
            <h3 class="mx-2 my-0">#<%= "#{params[:tag_name]}" %></h3>
          <% else %>
            <h3 class="mx-2 my-0">投稿一覧</h3>
          <% end %>
        </div>
      </div>

      <!--投稿数-->
      <div class="text-right mb-4">全<%= @post_count %>件</div>

      <!--並び替えリンク-->
      <!--タグ検索された時は非表示-->
      <% unless params[:tag_name].present? %>
        <p class="text-right my-4">
          <%= link_to "新着順", posts_path(latest: "true"), class: "button-blue btn btn-sm nav-item" %>
          <%= link_to "古い順", posts_path(old: "true"), class: "button-blue btn btn-sm nav-item" %>
          <%= link_to "いいねの多い順", posts_path(favorite: "true"), class: "button-blue btn btn-sm nav-item" %>
        </p>
      <% end %>

      <!--投稿一覧-->
      <div>
        <%= render "public/posts/index", posts: @posts %>
      </div>

      <!--ページネーション-->
      <div class="row mt-5">
        <div class="mx-auto">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>