<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 mx-auto">
      <!--タイトル-->
      <div class="row">
        <div class="title p-2 rounded">
          <!--検索フォームに入力があるかを確認-->
          <% if params[:word].blank? %>
            <h2 class="mx-2 my-0">投稿一覧</h2>
          <% else %>
            <h3 class="mx-2 my-0">"<%= params[:word] %>"に関する投稿</h3>
          <% end %>
        </div>
      </div>

      <!--投稿数-->
      <div class="text-right">全<%= @post_count %>件</div>

      <!--検索結果一覧-->
      <div class="pt-5">
        <!--入力されたワードが存在しているかを確認-->
        <% if @posts.blank? %>
          <p><%= params[:word] %>に関連する投稿はありません</p>
        <% else %>
          <%= render "public/posts/index", posts: @posts %>
        <% end %>
      </div>

      <!--入力されたワードが存在していた場合のみページネーション表示-->
      <% if @posts.present? %>
        <div class="row mt-5">
          <div class="mx-auto">
            <%= paginate @posts %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>