<div class="main py-5">
  <!--topページのロゴ-->
  <div class="top">
    <%= image_tag "SS-spot.main.png" %>
  </div>

  <!--topページの検索フォーム-->
  <div class="top">
    <%= form_with url: search_path, method: :get do |f| %>
      <div class="border rounded p-2 m-2">
        <%= f.text_field :word, placeholder: "地名・キーワード", style: "border: 0; outline: 0;" %>
      </div>
      <%= f.submit "検索", class: "button-blue btn col-6" %>
    <% end %>
  </div>

  <!--topページ新着投稿6つまで表示-->
  <div class="posts container p-4 bg-light">
    <h2 class="new">新着投稿</h2>
    <div class="p-4">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="post-image col-md-4 col-sm-6 col-12 mb-5">
            <%= link_to post_path(post) do %>
              <%= image_tag post.post_images[0], style: "width: 100%; height: 200px; object-fit:cover;" %>
              <%= post.user.user_name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="underline text-right">
        <%= link_to "投稿一覧を見る >", posts_path %>
      </p>
    </div>
  </div>

  <!--About-->
  <div class="about">
    <strong class="tape">About...</strong>
    <p class="mt-4 font-weight-bold">
      SS-spotへようこそ。ご覧いただきありがとうございます！<br>
      このサイトは<br>
      自分の地元の観光スポットいろんな人に知ってもらいたいと思っている方、<br>
      これからお出かけをする際にどこにいくか迷っている方にオススメです！<br>
      また初めての海外旅行で不安の方にも便利です。<br>
      キーワードで検索したり、地名で検索することで関連投稿をいつでも誰でも閲覧できます。<br>
      SS-spot(穴場の観光スポット)を知って、みんなに自慢していきましょう！<br>
      このサイトを利用して皆さんのお出かけが<br>
      より良い思い出になっていただけたら幸いです。
    </p>
  </div>
</div>