<% posts.each do |post| %>
  <div>
    <%= link_to admin_post_path(post) do %>
      <div class="index row border-bottom p-2 p-lg-5">
        <!--投稿タイトル-->
        <div class="col-12 col-lg-4">
          <h4 class="text-break">
            <%= post.title %>
          </h4>
        </div>

        <!--説明文-->
        <div class="col-12 col-lg-4">
          <p class="text-break">
            <%= post.body.truncate(30) %>
          </p>
        </div>

        <!--コメント数-->
        <div class="col-12 col-lg-4 text-right">
          <p class="ml-2">
            コメント数：<%= post.post_comments.count %>
          </p>
        </div>

        <!--投稿日-->
        <div class="col-12 text-right">
          <p><%= post.created_at.strftime("%Y年%m月%d日") %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>