<%= form_with model: [post, post_comment], local: false do |f| %>
  <!--ゲストユーザーの利用制限コメント-->
  <div class="form-group">
    <% if current_user.name == 'ゲストユーザー' %>
      <p>実際にコメントすることはできません。</p>
    <% end %>
  </div>

  <!--コメント投稿-->
  <div class="form-group">
    <%= f.text_field :comment, class: "form-control comment", placeholder: "コメントを入力" %>
  </div>

  <div class="d-lg-flex justify-content-between">
    <!--星評価の投稿-->
    <div class="form-group" id="star">
      <%= f.label :rate, "評価" %>
      <%= f.hidden_field :rate, id: :review_star, class: "form-control" %>
    </div>

    <!--投稿ボタン-->
    <div>
      <%= f.submit "コメント", class: "button-blue btn btn-sm" %>
    </div>
  </div>

  <!-- js部分 -->
  <script>
    $(document).ready(function() {
      $('#star').empty();
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'post_comment[rate]',
        half: true,
      });
    })
  </script>
<% end %>