<% post.post_comments.each do |post_comment| %>
  <div>
    <div>
      <%= link_to user_path(post_comment.user) do %>
        <p style="font-size: 15px">
          <%= post_comment.user.user_name %>さんのコメント
        </p>
      <% end %>
    </div>
    <!--コメント表示-->
    <p class="text-break">
      <%= post_comment.comment %>
    </p>

    <div class="d-sm-flex mb-3 justify-content-between border-bottom p-1">
      <!--星評価の表示-->
      <div id="rate-<%= post_comment.id %>" class="form-group"></div>

      <!--コメントした本人のみ削除ボタンの表示-->
      <% if post_comment.user == current_user %>
        <div>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "button-red btn btn-sm", remote: true %>
        </div>
      <% end %>
    </div>

    <!-- js部分 -->
    <script>
      $(document).ready(function() {
        $('#rate-<%= post_comment.id %>').empty();
        $('#rate-<%= post_comment.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= post_comment.rate %>,
        });
      });
    </script>
  </div>
<% end %>