<!--名前-->
<div class="form-group mx-auto">
  <%= f.label :name, class: "col-12 pl-md-0 mx-md-auto" %>
  <%= f.text_field :name, autofocus: true, class: "col-12  mx-auto form-control name" %>
</div>

<!--フリガナ-->
<div class="form-group mx-auto">
  <%= f.label :name_kana, class: "col-12  pl-md-0 mx-md-auto" %>
  <%= f.text_field :name_kana, class: "col-12 mx-auto form-control name_kana" %>
</div>

<!--プロフィール画像-->
<div class="form-group mx-auto">
  <%= f.label :profile_image, class: "col-12  pl-md-0 mx-md-auto" %>
  <%= f.file_field :profile_image, accept: "image/*", class: " col-12 mx-auto pl-0 form-control-file proflie_image" %>
</div>

<!--ユーザーネーム-->
<div class="form-group mx-auto">
  <%= f.label :user_name, class: "col-12  pl-md-0 mx-md-auto" %>
  <%= f.text_field :user_name, class: "col-12  mx-auto form-control user_name" %>
</div>

<!--メールアドレス-->
<div class="form-group mx-auto">
  <%= f.label :email, class: "col-12  pl-md-0 mx-md-auto" %>
  <%= f.email_field :email, class: "col-12  mx-auto form-control email" %>
</div>