<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user'  do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "名前" %><br/>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name_kana, "フリガナ" %><br/>
    <%= f.text_field :name_kana %>
  </div>

  <div class="field">
    <%= f.label :profile_image, "プロフィール画像" %><br/>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :user_name, "ユーザーネーム" %><br/>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
