<div class="background container py-5 rounded">
  <%= render "layouts/error_messages", model: @user %>
  <div class="col-10 col-md-7 mx-auto">
    <!--タイトル-->
    <div class="row mb-4">
      <div class="title p-2 rounded">
        <h3 class="mx-2 my-0">新規登録</h3>
      </div>
    </div>

    <!--新規登録フォーム-->
    <%= form_with model: @user, url: user_registration_path, id: 'form', class: 'new_user'  do |f| %>
      <%= render "public/registrations/info", f: f %>
      <div id="name_error"></div>

      <!--パスワード-->
      <div class="form-group mx-auto">
        <%= f.label :password, "パスワード(6文字以上)", class: "col-12  pl-md-0 mx-md-auto" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-12  mx-auto form-control password" %>
      </div>

      <!--確認用パスワード-->
      <div class="form-group mx-auto">
        <%= f.label :password_confirmation, class: "col-12  pl-md-0 mx-md-auto" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12  mx-auto form-control password_confirmation" %>
      </div>

      <!--登録ボタン-->
      <div class="form-group text-center py-4">
        <%= f.submit "登録", class: "button-blue col-5 btn" %>
      </div>
    <% end %>
  </div>
</div>

<!--js部分-->
<script>
  //バリデーションエラー
  $(document).on('turbolinks:load', function(){
    // メソッドの追加
    var methods = {
      //カタカナ
      katakana: function(value, element){
        return this.optional(element) || /^[ア-ン゛゜ァ-ォャ-ョー、]+$/.test(value);
      }
    };
    $.each(methods, function(key) {
      $.validator.addMethod(key, this);
    });

    // バリデーションの実行
    $('#form').validate({
      // ルール設定
      rules: {
        "user[name]": {
          required: true,
          minlength: 2,
          maxlength: 30,
        },
        "user[name_kana]": {
          required: true,
          katakana: true,
          minlength: 2,
          maxlength: 30,
        },
        "user[user_name]": {
          required: true,
          minlength: 2,
          maxlength: 30,
        },
        "user[email]": {
          required: true,
          email: true,
        },
        "user[password]": {
          required: true,
          minlength: 6,
        },
        "user[password_confirmation]": {
          required: true,
          minlength: 6,
          equalTo: "#user_password",
        },
      },
      // エラーメッセージの定義
      messages: {
        "user[name]": {
          required: "お名前を入力してください",
          minlength: "2文字以上30文字以下で入力してください",
          maxlength: "2文字以上30文字以下で入力してください",
        },
        "user[name_kana]": {
          required: "フリガナを入力してください",
          katakana: '全角カタカナでご入力ください',
          minlength: "2文字以上30文字以下で入力してください",
          maxlength: "2文字以上30文字以下で入力してください",
        },
        "user[user_name]": {
          required: "ユーザーネームを入力してください",
          minlength: "2文字以上30文字以下で入力してください",
          maxlength: "2文字以上30文字以下で入力してください",
        },
        "user[email]": {
          required: "メールアドレスを入力してください",
          email: "メールアドレスの形式で入力してください",
        },
        "user[password]": {
          required: "パスワードを入力してください",
          minlength: "6文字以上で入力してください",
        },
        "user[password_confirmation]": {
          required: "確認用パスワードを入力してください",
          minlength: "6文字以上で入力してください",
          equalTo: "パスワードと一致しません",
        },
      },
      //エラー時とチェックok時のレイアウト
      errorClass: "is-invalid",
      errorElement: "p",
      validClass: "is-valid",
    });
    // 入力欄をフォーカスアウトしたときにバリデーションを実行
    $("#user_name, #user_name_kana, #user_user_name, #user_email, #user_password, #user_password_confirmation").blur(function () {
      $(this).valid();
    });
  })
</script>