<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 mx-auto">
      <!--タイトル-->
      <div class="row">
        <div class="title p-2 rounded">
          <h4 class="mx-2 my-0">ユーザー編集</h4>
        </div>
      </div>

      <!--プロフィール画像-->
      <div class="row pb-2 my-4 border-bottom">
        <div class="col-12">
          <div class="text-center">
            <%= image_tag @user.get_profile_image, size: "100x100" %>
          </div>
        </div>
      </div>

      <!--名前-->
      <div class="row pb-2 my-4 border-bottom">
        <div class="col-md-6 col-12">
          <p class="text-center">(名前)</p>
        </div>

        <div class="col-md-6 col-12">
          <h5 class="text-center">
            <%= @user.name %>(<%= @user.name_kana %>)
          </h5>
        </div>
      </div>

      <!--ユーザーネーム-->
      <div class="row pb-2 my-4 border-bottom">
        <div class="col-md-6 col-12">
          <p class="text-center">(ユーザーネーム)</p>
        </div>

        <div class="col-md-6 col-12">
          <h5 class="text-center">
            <%= @user.user_name %>
          </h5>
        </div>
      </div>

      <!--メールアドレス-->
      <div class="row pb-2 my-4 border-bottom">
        <div class="col-md-6 col-12">
          <p class="text-center">(メールアドレス)</p>
        </div>

        <div class="col-md-6 col-12">
          <h5 class="text-center">
            <%= @user.email %>
          </h5>
        </div>
      </div>

      <!--会員ステータス-->
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <div class="form_group row pb-2 mt-4">
          <div class="col-md-6 col-12">
            <p class="text-center">(会員ステータス)</p>
          </div>

          <div class="col-md-6 col-12">
            <h5 class="text-center">
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会" %>
            </h5>
          </div>
        </div>

        <!--更新ボタン-->
        <div class="text-center">
          <%= f.submit "ステータス更新", class: "button-gray btn btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>