<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 mx-auto">
       <!--タイトル-->
      <div class="row">
        <div class="title p-2 rounded">
          <h4 class="mx-2 my-0">ユーザー一覧</h4>
        </div>
      </div>

      <!--ユーザー一覧-->
      <div class="pt-5">
        <% @users.each do |user| %>
          <div>
            <%= link_to admin_user_path(user) do %>
              <div class="index row border-bottom p-2 p-md-4">
                <!--プロフィール画像-->
                <div class="col-12 col-md-4 mb-1 mb-md-3">
                  <%= image_tag user.get_profile_image, size: "70x70" %>
                </div>

                <!--投稿数-->
                <div class="col-12 col-md-4 mb-1 mb-md-3">
                  <p>
                    投稿数：<%= user.posts.count %>
                  </p>
                </div>

                <!--会員ステータス-->
                <div class="col-12 col-md-4 mb-1 mb-md-3">
                  <% if user.is_deleted == true %>
                    <p class="text-danger">退会済</p>
                  <% else %>
                    <p>有効なユーザー</p>
                  <% end %>
                </div>

                <!--名前-->
                <div class="col-12 col-md-6 mb-1 mb-md-3">
                  <p>
                    名前：<%= user.name %>(<%= user.name_kana %>)
                  </p>
                </div>

                <!--ユーザーネーム-->
                <div class="col-12 col-md-6 mb-1 mb-md-3" >
                  <p>
                    ユーザーネーム：<%= user.user_name %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!--ページネーション-->
      <div class="row mt-5">
        <div class="mx-auto">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>