<div class="background container py-5 rounded">
  <div class="row">
    <div class="col-10 col-md-7 mx-auto">
      <div class="row mb-4">
        <div class="title col-xs-12 p-2 rounded">
          <h3 class="m-2">プロフィール編集</h3>
        </div>
      </div>

      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <%= render 'layouts/error_messages', model: @user %>
        <%= render "public/registrations/info", f: f %>
        <div class="form-group text-center py-md-4">
          <%= f.submit "更新", class: "col-5 btn btn-primary m-1 m-md-4" %>
          <%= link_to "退会", quit_path, class: "btn btn-outline-danger m-1 m-md-4" %>
        </div>
      <% end %>
    </div>
  </div>

</div>