<div class="background container py-5 rounded">
  <div class="row py-4">
    <div class="col-8 mx-auto">
      <div class="text-center">
        <!--プロフィール画像の表示-->
        <div>
          <%= image_tag @user.get_profile_image,size: "150x150", class: "rounded-circle" %>
        </div>
        <!--ユーザーネーム-->
        <div class="mt-3">
          <%= @user.user_name %>
        </div>
      </div>
    </div>
  </div>

  <!--プロフィール編集ボタン(本人がユーザー詳細ページを開いている時のみ表示)-->
  <div class="row py-4">
    <div class="col-8 mx-auto">
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "button-gray btn btn-block" %>
      <% else %>
        <%=link_to "#{@user.user_name}さんのいいねリスト", favorites_user_path(@user), class: "button-gray btn" %>
      <% end %>
    </div>
  </div>

  <!--ユーザーの投稿一覧-->
  <div class="row pt-5">
    <div class="col-10 mx-auto">
      <!--@userが投稿をしているかを確認-->
      <% if @posts.exists? %>
        <!--存在している場合、@userの投稿一覧表示-->
        <%= render "public/posts/index", posts: @posts %>

        <!--ページネーション-->
        <div class="row mt-5">
          <div class="mx-auto">
            <%= paginate @posts %>
          </div>
        </div>
      <% else %>
        <p class="text-center">投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>