<nav class="navbar navbar-light">
  <div class="container">
    <!--ロゴ-->
    <a class="navbar-brand p-3" href="/">SS-spot</a>
    <!--検索フォームの配置(管理者画面では非表示)-->
    <% unless admin_signed_in? %>
      <div class="search-form">
        <%= form_with url: search_path, method: :get do |f| %>
          <div class="border rounded-pill p-1 mr-3 mr-sm-0">
            <%= f.text_field :word, placeholder: "投稿を検索", style: "border: 0; outline: 0;" %>
            <%= f.button :type => "submit", style: "border-style: none; background: none;" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!--ハンバーガーメニュー-->
    <div class="hamburger-menu">
      <!--ハンバーガーメニューを開いた時の背景-->
      <div class="open-menu-bg"></div>
      <!--メニューボタン-->
      <button type="button" class="menu-button">
        <span class="menu-bar menu-bar1"></span>
        <span class="menu-bar menu-bar2"></span>
        <span class="menu-bar menu-bar3"></span>
        <span class="open-menu menu-text">MENU</span>
        <span class="close-menu menu-text">CLOSE</span>
      </button>
      <!--ナビゲーションメニュー-->
      <nav class="nav-wrapper">
        <ul class="nav-menu navbar-nav">
          <% if user_signed_in? %>
            <!--ログインしている場合の表示-->
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% elsif admin_signed_in? %>
            <!--管理者がログインしている場合の表示-->
            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_users_path %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_posts_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          <% else %>
            <!--ログインしていない場合の表示-->
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</nav>
