<!DOCTYPE html>
<html>
  <head>
    <title>Jimopot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header class="border-bottom mb-5">
      <%= render "layouts/header" %>
    </header>
    <main>
      <% if notice %>
        <div class="text-center">
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
      <!--ログインしている場合ページ下部に遷移ボタンの配置-->
      <% if user_signed_in? %>
        <%= render "layouts/select_btn" %>
      <% end %>
    </main>
    <footer class="py-4 mt-5 border-top text-center" style="margin-bottom:200px;">
      <strong>jimopot</strong>
    </footer>
  </body>
</html>
